<mat-nav-list dense>
  <h3 mat-subheader>カテゴリ</h3>
  <a mat-list-item routerLink="/schools">
    <mat-icon class="mat-18" mat-list-icon>school</mat-icon>
    <span mat-line>スクール</span>
  </a>
</mat-nav-list>
<mat-divider></mat-divider>
<mat-nav-list dense>
  <a
    mat-list-item
    href="https://github.com/deerboy/japan-programing-resource/blob/master/README.md"
    target="_blank"
  >
    <span matLine>このサイトについて</span>
    <span>
      <mat-icon class="mat-18" inline>open_in_new</mat-icon>
    </span>
  </a>
  <a
    mat-list-item
    href="https://github.com/deerboy/japan-programing-resource/commits/master"
    target="_blank"
  >
    <span matLine>更新履歴</span>
    <span>
      <mat-icon class="mat-18" inline>open_in_new</mat-icon>
    </span></a
  >
  <a mat-list-item href="https://twitter.com/d151005" target="_blank">
    <span matLine>お問い合わせ </span>
    <span>
      <mat-icon class="mat-18" inline>open_in_new</mat-icon>
    </span>
  </a>
</mat-nav-list>
