/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding-top: 64px;
  box-sizing: border-box;
  min-height: 100%;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  font-size: 14px;
}

.grid {
  display: grid;
  gap: 24px;
}

.container {
  padding: 24px;
}

a {
  text-decoration: none;
  color: inherit;
}
